# # Core orchestration
# langchain==0.3.26
# langchain-openai==0.3.24
# langchain-pinecone==0.2.8
# langchain-community==0.3.26

# # Web server (Flask)
# flask==3.1.1

# # PDF parsing
# pypdf==5.6.1

# # Embeddings
# sentence-transformers==2.2.2  # compatible with langchain 0.3.x
# accelerate==0.25.0            # required for llm

# # Hugging Face
# transformers==4.35.0           # required for large LLMs like Mistral
# # huggingface-hub==0.16.4        # latest stable for HuggingFaceEndpoint

# # Pinecone client
# pinecone-client==2.2.0

# # Environment variable support
# python-dotenv==1.1.0


langchain==0.3.26
flask==3.1.1 
sentence-transformers==4.1.0
pypdf==5.6.1 
python-dotenv==1.1.0
langchain-pinecone==0.2.8 
langchain-openai==0.3.24
langchain-community==0.3.26
-e .

